body {
    background-image: url("my-style.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    height:80%;
    opacity: 0.7;
    color:black;
  }
 
.header{
    width:80%;
    padding-left:10%;
    padding-top:20%;
    text-align:right;
    
}
.header p {
    font-size:40px;
    padding-top:10%;
    
}
.header h1{
    font-size:50px;
    color:black;
    padding-top:10%;
    
}
.button{
    background-color:black;
    color:white;
    border-radius: 5px;
    margin:5%;
    
}
.short-para{
    width:80%;
    font-size:25px;
    padding-left:10%;
    padding-top:20%;
    color:black;
}
.main2{
    margin-top:30%;
    text-align:center;
    color:black;
}
.main2 h4{
 font-size: 27px;
 color:black;
}
.main2 ul{
   list-style:none; 
   font-size:20px;
}
